.container-profile {
  
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-profile-date {

  width: 70%;
  border: 1px solid var(--color-border);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.continer-profile-1 {
  width: 100%;
}
/*Estilos Perfil*/
.df-col {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem 0rem;
  margin: 2rem 0rem;
  overflow: hidden;
}
.df-col-photo {
  width: 100%;
  display: flex;

  align-items: center;
  padding: 1rem 3rem ;
}

.titulo-profile {
  font-family: var(--fuente-primaria);
  text-align: center;
}

.titulo-profile .info-p {
  font-size: 2rem;

  color: var(--font-color-primario);
  margin-top: 4rem;
}

p.font {
  margin-bottom: 2rem;
  color: var(--font-color-primario);
}

.btn-edit {
  margin-left: 2rem;
  color: var(--color-icon);
  padding: 0.2rem 1.25rem;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--color-primario);
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  left: 8rem;
  top: -1rem;
}

.btn-logout {
  height: 15px;
  background-color: transparent;
  border: transparent;
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14x;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: var(--btn-logout);
  cursor: pointer;
}

form {
  width: var(--width-input);
}
form input {
  border: none;
}

form .login-form {
  margin-top: 15px;
  width: var(--width-input);
  height: 35px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.wtext {
  width: 70%;
}

.sub-text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.text-w {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
  color: var(--font-color-primario);
}

/* ICON STYLE */
.container-icon {
  display: flex;
}

.icon-style {
  border: 1px solid var(--color-border);
  color: var(--color-icon);
  padding: 10px 14px;
  border-radius: 30px;
  margin: 1rem;
}
.icon-form {
  margin-left: 10px;
  color: var(--color-icon);
}

.avatar {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 577px;
  top: 354px;
  border-radius: 8px;
}

.avatar img {
  position: absolute;
  width: 72.14px;
  height: 72px;
  left: 577.31px;
  top: 354.27px;
  border-radius: 8px;
}

.text-mr font-color {
  position: absolute;
  width: 54px;
  height: 18px;
  left: 346px;
  top: 471px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: #bdbdbd;
}
