.container {
  background-color: var(--color-primario);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5rem; */
  height: 100%;
}
.container-register {
  padding: 2.375rem;
  width: 23.75rem;
  border: 1px solid var(--color-border);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button-register {
  color: var(--color-primario);
  width: var(--width-input);
  height: 1.875rem;
  border: none;
  background: var(--color-segundario);
  border-radius: 8px;
  margin-top: .8rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
form {
  width: var(--width-input);
}
input {
  width: 100%;
  padding: 0.625rem;
  background: var(--color-primario);
  width: 100%;
}
form input:focus {
  outline: none;
}

form .group-form {
  /* margin-top: 15px; */
  width: var(--width-input);
  height: 2.1875rem;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 1.25rem;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}

.biografia {
  width: var(--width-input);
  height: 6.25rem;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 1.25rem;
  margin-bottom: 1rem;
  max-width: 100%;
  min-width: 100%;
  max-height: 6.25rem;
  min-height: 6.25rem;
}

.sub-text {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: var(--color-perfil-subtitulo);
}
span {
  color: #2d9cdb;
}

.label {
  font-size: 0.8rem;
  font-weight: 520;
  color: var(--font-color-primario);
}

.text {
  font-size: 1.5rem;
  color: var(--font-color-primario);
}

.text-2 {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: var(--color-icon);
}

/* ICON STYLE */
.continer-icon {
  display: flex;
}

.icon-style {
  border: 1px solid var(--color-border);
  color: var(--color-icon);
  padding: 10px 14px;
  border-radius: 30px;
  margin: 1rem;
  background-color: var(--color-primario);
  cursor: pointer;
}
.icon-form {
  margin-left: 10px;
  color: var(--color-icon);
}

/* style perfil  */
hr {
  width: 100%;
  border-bottom:none;
  /* position:absolute; */
}

.continer-perfil {
  border: 1px solid var(--color-border);
  padding: 2.375rem;
  margin: 1.875rem;
  border-radius: 1.25rem;
}

.text-mr {
  width: 30%;
  max-width: 50%;
  font-size: 0.75rem;
}
.mr {
  margin-left: 1.25rem;
}
.size {
  font-size: 2.5rem;
  color: var(--color-icon);
}
.font-xs {
  font-size: 0.75rem;
}

.font-color {
  color: var(--color-icon);
}

.font-l {
  font-size: 1.25rem;
}
.font-c {
  width: 70%;
  font-size: 1rem;
  color: var(--font-color-primario);
  overflow: hidden;
}
.text-w {
  width: 60%;
}
/* // style perfil form // */

.container-perfil {
  padding: 2.375rem;
  width: 60vw;
  border: 1px solid var(--color-border);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.div-photo {
  display: flex;
  margin: 2rem 0.2rem;
}
.width-p {
  width: 60%;
}
.button-guardar {
  color: var(--color-primario);
  width: 5.625rem;
  height: 1.875rem;
  border: none;
  background: var(--color-segundario);
  border-radius: 8px;
  margin-top: 1.5625rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.button-guardar:hover {
  background: var(--btn-logout);
  border: 1px solid var(--color-border);
  color: var(--color-primario);
}

/* link Atrás  */
.btn-atras {
  width: 60%;
  padding-bottom: 1rem;
  background-color: var(--color-primario);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  color: #2d9cdb;
  font-size: 1rem;
  text-decoration: none;
}
.icon-t {
  font-size: 1rem;
  margin-right: 1rem;
}
.btn-atras-w {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* button salir  */
.btn-salir {
  width: 100%;
  padding: 2rem;
  background-color: var(--color-primario);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
  color: #eb5757;
  cursor: pointer;
}
.icon-mr {
  padding-right: 5px;
}

/* // style immage profile // */
img {
  border-radius: 10px;
  height: 60px;
}
/* responsive pagina editProfile  */

@media (max-width: 917px) {
  .width-p {
    width: 70%;
  }
}

@media (max-width: 808px) {
  .width-p {
    width: 80%;
  }
  .container-perfil {
    width: 70%;
  }
}
@media (max-width: 590px) {
  .width-p {
    width: 100%;
  }
  .container-perfil {
    width: 70%;
  }
}
@media (max-width: 590px) {
  .container-perfil {
    width: 90%;
  }
}
.p-danger {
  display: inline-block;
  text-align: start;
  align-items: flex-start;
  color: var(--btn-logout);
  font-size: 11px;
}
