:root {
	--color-primario: #ffffff;
	--color-segundario: #2f80ed;
	--color-border: #BDBDBD;
	--btn-logout: #eb5757;
	--font-color-primario: #333333;
	--color-icon: #BDBDBD;
	--width-input: 100%;
	--fuente-primaria: 'Noto Sans', noto-sans;
	--color-perfil-subtitulo:#828282;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fuente-primaria);
}